<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
<h1>{{ publisher.name }}</h1>
<ul>
    <li>Name: {{ publisher.name }}</li>
    <li>City: {{ publisher.city }}</li>
    <li>Country: {{ publisher.country }}</li>
    <li>Website: <a href="{{ publisher.website }}">{{ publisher.website }}</a></li>
    <li><a href="{% url 'publisher_games' publisher.id %}">Games</a></li>


</ul>

    <form action="{% url 'del_publisher' publisher.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Publisher">
    </form>





</body>
</html>